<pre>
Credit Cards

Many young people start receiving credit card offers in the mail soon after they turn 18.

It's important to know that not all credit cards are the same. Some credit cards have an annual fee, 

late payment = interest from date of purchase on full balance, late fee

not paid in full = ""
</pre>
{% if user.job_or_college is same as("Job") %}
	<a href="/play/3/0" class="btn btn-primary">Job Life Events</a>
{% else %}
	<a href="/play/4/0" class="btn btn-primary">College Life Events</a>
{% endif %}
