<pre>
Credit Cards

Many young people start receiving credit card offers in the mail soon after they turn 18.

It's important to know that not all credit cards are the same. Some credit cards have an annual fee, which is a fee just to have the card.

When using a credit card it is important to always pay your statement balance in full. If you pay even $1 less than the full statement balance, you will be charged interest on all purchases from the date of the purchase. Credit cards use <em>compound interest</em>, which adds up fast!

See these links to learn more about credit card interest:

<a target="_blank" href="http://www.investopedia.com/articles/01/061301.asp">http://www.investopedia.com/articles/01/061301.asp</a>
<a target="_blank" href="https://www.discover.com/credit-cards/resources/interest-and-aprs/how-does-my-credit-card-interest-work">https://www.discover.com/credit-cards/resources/interest-and-aprs/how-does-my-credit-card-interest-work</a>
</pre>
{% if user.job_or_college is same as("Job") %}
	<a href="/play/3/0" class="btn btn-primary">Job Life Events</a>
{% else %}
	<a href="/play/4/0" class="btn btn-primary">College Life Events</a>
{% endif %}
