<div class="row">
<div class="col-xs-12 col-md-8">
<pre>
Click each option to find out more information about each kind of school!

Financial aid

Student loans
</pre>
</div>
<div class="col-xs-12 col-md-4">
	<img src="/images/college.jpg" id="collegeImg" style="max-width: 100%;">
</div>
</div>
<script>
$(document).ready(function (){
	$("#collegeImg").css("max-height", $("#pre").height());
});
</script>
