<pre>
Why go to college?
There are many reasons to go to college, and according to the Bureau of Labor Statistics, a person with a bachelor's degree can earn as much as a $1 million more over a lifetime than someone with just a high school diploma. Going to college not only educates you, but also advances your opportunities for greater pay, and better jobs. 

More info: <a target="_blank" href="http://www.icanaffordcollege.com/">http://www.icanaffordcollege.com/</a>

Why get a job?

Sometimes getting a job is financially nessacary to provide for your family, however getting an education is usually your best route to doing it. Although you may need to take on temorary debt, having a college degree is becoming more of a necessity and less of an option. 
</pre>
