{% include "header.twig" %}
<div class="row">
<div class="col-md-12" style="margin-bottom: 10px;">
<h3>Make a choice</h3>
{{ user.name }}
{% include "nodes/" ~ tree.template %}
{% if tree.children is defined %}
{% for node in tree.children %}
	<a class="btn btn-primary" href="/play/{{ user.getTreeId }}/{{ node.id }}">{{ node.name }}</a>
{% endfor %}
{% else %}
<h3>You've reached the end of the game.</h3>
{% endif %}
</div>
</div>
{% if user.getTreeId is not same as(0) %}
{% if tree.name is not same as("Job or College") %}
<div class="row">
<div class="col-md-12">
<p><a class="btn btn-default" id="back">Go Back</a></p>
</div>
</div>
<script>
$("a#back").click(function(){
	parent.history.back();
	return false;
});
</script>
{% endif %}
{% endif %}
{% include "footer.twig" %}
