{% include "header.twig" %}
<h3>Your Character</h3>
<h4>(Use this randomly generated character or choose your own)</h4>
<form action="/start" method="post">
<fieldset id="inputFields">
<div class="form-group">
	<label for="name">Character Name</label>
	<input id="name" name="name" type="text" value="{{ user.name }}" class="form-control">
</div>
<div class="form-group">
	<label for="gender">Character Gender</label>
	<select id="gender" class="form-control">
		<option value="Female" {% if user.gender == "Female" %}selected{% endif %}>Female</option>
		<option value="Male" {% if user.gender== "Male" %}selected{% endif %}>Male</option>
	</select>
</div>
<div class="form-group">
	<label for="city">Character City</label>
	<input id="city" type="text" value="{{ user.city }}" class="form-control">
</div>
<div class="form-group">
	<label for="state">Character State</label>
	<input id="state" type="text" value="{{ user.state }}" class="form-control">
</div>
<div class="form-group">
	<label for="difficulty">Difficulty</label>
	<select id="difficulty" class="form-control">
		<option value="Easy" {% if user.difficulty == "Easy" %}selected{% endif %}>Easy</option>
		<option value="Medium" {% if user.difficulty == "Medium" %}selected{% endif %}>Medium</option>
		<option value="Hard" {% if user.difficulty == "Hard" %}selected{% endif %}>Hard</option>
	</select>
</div>

</fieldset>
<button id="startButton" class="btn btn-primary">Start Game</button>
<button id="customizeButton" class="btn btn-info">Customize Character</button>
</form>
<script>
$("fieldset#inputFields :input").prop("disabled", true);

$("button#customizeButton").click(function () {
	$("fieldset#inputFields :input").prop("disabled", false);
	return false;
});
</script>
{% include "footer.twig" %}
